// Global styling for this template
body {
  overflow-x: hidden;
  color: $primary;
  @include roboto-font;
  background: $dark 0 0 no-repeat padding-box;
  opacity: 1;
  height: 100%;
  width: 100%;
  margin: 0;
}
body.js-no-scroll {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

p {
  line-height: 1.75;
}

a {
  color: $gray-900;
  &:hover {
    color: lighten($gray-900, 10%);
  }
}

.wt-text-primary {
  color: $primary !important;
}
.wt-text-primary-100 {
  color: $primary-100 !important;
}
.wt-text-orange {
  color: $orange !important;
}
.wt-block-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -2;
  border-radius: inherit;
  .wt-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

section {
  padding: 75px 0;
  h1.wt-section-heroTitle {
    font-size: 32px;
    line-height: 1.22;
    font-weight: 400;
    width: 100%;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: -.021em;
  }
  h2.wt-section-title {
    font-size: 28px;
    line-height: 1;
    font-weight: 700;
    width: 100%;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.85px;
    margin-bottom: .5rem;
  }
  p.wt-section-subtitle {
    font-size: 32px;
    line-height: 1.1;
    font-weight: 400;
    width: 100%;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.85px;
    margin-bottom: 0;
  }
  p.wt-section-text {
    font-size: 16px;
    line-height: 1.56;
    width: 100%;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
  }
  .wt-section-small-text {
    font-size: 14px;
    line-height: 1.67;
    width: 100%;
    letter-spacing: 0.35px;
    ._line {
      width: 50px;
      display: inline-block;
      border-bottom: 2px solid $primary-100;
      vertical-align: middle;
      margin-right: 8px;
      margin-left: 1px;
    }
  }
}

// Form Styles
form.wt-form-rounded {
  .form-group {
    color: $orange;
    .form-control {
      border-radius: 25px;
    }
  }
  .btn {
    margin-top: 10px;
  }
}

// Button Styles
.btn {
  font-size: 14px;
  line-height: 1.2;
}
.wt-btn-size-sm {
  font-size: 12px;
  padding: 10px 16px;
}
.wt-btn-size-md {
  padding: 12px 24px;
}
.wt-btn-size-xl {
  font-size: 15px;
  padding: 15px 30px;
}

.wt-btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: #16191e !important;
  &:active,
  &:focus,
  &:hover {
    background-color: $primary-100 !important;
    border-color: $primary-100 !important;
    color: #16191e !important;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55,.5) !important;
  }
}
.wt-btn-orange {
  background-color: $orange;
  border-color: $orange;
  color: $primary !important;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($orange, 7.5%) !important;
    border-color: darken($orange, 7.5%) !important;
    color: $primary !important;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55,.5) !important;
  }
}
.wt-btn-dark {
  background-color: $dark;
  border-color: $dark;
  color: $primary !important;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($dark, 7.5%) !important;
    border-color: darken($dark, 7.5%) !important;
    color: $primary !important;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55,.5) !important;
  }
}
.wt-btn-rounded {
  border-radius: 25px;
}
.wt-btn-transparent {
  background-color: transparent;
  border-color: $primary-100;
  color: $primary-100 !important;
  border-width: 1px;
  &:active,
  &:focus,
  &:hover {
    background-color: transparent !important;
    border-color: $primary !important;
    color: $primary !important;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55,.5) !important;
  }
}

// Highlight color customization
::-moz-selection {
  background: $orange;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

// Media queries
@media (max-width: 767px) {
  section {
    padding: 40px 0;
  }
  section h1.wt-section-heroTitle {
    font-size: 28px;
  }
  section h2.wt-section-title {
    font-size: 24px;
  }
  section p.wt-section-subtitle {
    font-size: 28px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 740px;
  }
  section {
    padding: 60px 0;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}